<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>novloginsocial</name>
    <displayName><![CDATA[Vinova Login Social]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Allow customers login to with Facebook, Google social account]]></description>
    <author><![CDATA[Vinovathemes]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>